@page "/game/{SetId:guid}"
@inherits MvvmComponentBase<GamePageViewModel>

@SetId
@Bind(x => x.SetId);
@if (Bind(x => x.NotFound))
{
    <Heading Size="HeadingSize.Is1">Set not found</Heading>
}
else if (Bind(x => x.IsError))
{
    <Heading Size="HeadingSize.Is1">Error</Heading>
}
else
{
    <div>
    <Heading Size="HeadingSize.Is1">Game @Bind(x => x.SetId)</Heading>
    @if (Bind(x => x.ImageUrl) != null)
        {
            <img width="200" src="@Bind(x => x.ImageUrl)" />
        }
        <p>
            @Bind(x => x.ImageUrl);
        </p>
        @Bind(x => x.CurrentIndex);
        <Button @onclick="@(() => @BindingContext.Next())">Next</Button>
    </div>
}
@code {
    [Parameter]
    public Guid SetId { get; set; }
    protected override void OnInitialized()
    {
        base.OnInitialized();
        BindingContext.SetId = SetId;
    }
}
