@page "/game/{SetSlug}"
@inherits MvvmComponentBase<GamePageViewModel>

@if (Bind(x => x.NotFound))
{
    <Heading Size="HeadingSize.Is1">Set not found</Heading>
}
else if (Bind(x => x.IsError))
{
    <Heading Size="HeadingSize.Is1">Error</Heading>
}
else
{
    <div>
    <Heading Size="HeadingSize.Is1">Game @Bind(x => x.SetSlug)</Heading>
    @{
            var currentImage = Bind(x => x.CurrentImage);
        }
        @if (currentImage != null)
        {
            <img width="200" src="@currentImage.Url" />
        }
        @Bind(x => x.CurrentIndex);
        <Button @onclick="@(() => @BindingContext.Next())">Next</Button>
    </div>
}
@code {
    [Parameter]
    public string SetSlug { get; set; } = "";
    protected override void OnInitialized()
    {
        base.OnInitialized();
        BindingContext.SetSlug = SetSlug;
    }
}
